<div class="main">
  <div class="photo-gallery">
    <div class="photo-item"><img src="/img/MaEr.png" alt="麻二1" /></div>
    <div class="photo-item"><img src="/img/MaEr2.png" alt="麻二2" /></div>
    <div class="photo-item"><img src="/img/sanhua.jpg" alt="三花" /></div>
  </div>
</div>

<%- partial('_partial/archive', {pagination: 2, index: true}) %>
