<!-- ... existing code ... -->
<div class="main">
    <div class="photo-gallery">
        <img src="/img/MaEr.png" alt="照片1" />
        <img src="/img/MaEr2.png" alt="照片2" />
        <img src="/img/sanhua.jpg" alt="照片3" />
    </div>
</div>
<!-- ... existing code ... -->
<%- partial('_partial/archive', {pagination: 2, index: true}) %>
